<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linshiyou.financialFinalContest.swap.dao.mapper.SwapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.linshiyou.financialFinalContest.swap.dao.entity.Swap">
        <id column="id" property="id" />
        <result column="good_id" property="goodId" />
        <result column="user_Aid" property="userAid" />
        <result column="user_Bid" property="userBid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status_id" property="statusId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, good_id, user_Aid, user_Bid, create_time, update_time, status_id
    </sql>

</mapper>
