<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linshiyou.financialFinalContest.swap.dao.mapper.SwapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.linshiyou.financialFinalContest.swap.dao.entity.Swap">
        <id column="id" property="id" />
        <result column="good_id" property="goodId" />
        <result column="list_id" property="listId" />
        <result column="user_final_id" property="userFinalId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, good_id, list_id, user_final_id
    </sql>

</mapper>
